.room-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-select[chosen='true'] {
  background-color: rgb(242, 241, 240);
  border: 1px solid rgba(255, 135, 2, 0.9);
  border-radius: 1rem;
  padding: 0 1rem;
}

.room-select[chosen='true'] .add_circle {
  display: none;
}

.room-select[chosen='false'] .remove_circle {
  display: none;
}

.floor {
  font-size: 1.4rem;
  color: #737373;
}

