.login, .register{
  padding: 10rem;
}

.heading_login {
  font-size: 5rem;
  margin-bottom: 0;
}

.paragraph_login {
  color: #737373;
}

.forgot_password {
  font-size: 1.4rem;
  color: #737373;

}

.box_input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.registerNow_text {
  font-size: 1.4rem;
  text-align: center;
}

.registerNow_text > a {
  font-weight: bold;
  font-size: 1.5rem;
}
