.admin-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status_symbol {
  display: flex;
}

.admin-select .paragraph[contentEditable='true'] {
  background-color: white;
  border: 1px solid black;
}

.remove_cross[editable='true'] {
  display: none;
}

.check[editable='true'] {
  display: block;
}
.check[editable='false'] {
  display: none;
}

.edit_pencil[editable='true'] {
  display: none;
}

.check:hover {
  transform: scale(1.2);
}

.edit_pencil:hover {
  transform: scale(1.2);
}

.remove_cross:hover {
  transform: scale(1.2);
}
