.rooms {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
}

.search-room-list {
  max-height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.selected-rooms {
  min-height: 20px;
  max-height: 250px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: scroll;
}
