.rooms, .admin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 5rem 3rem;
}

.margin_room_text, .margin_admin_text {
  margin: 2rem 0;
}

.btn_medium {
  width: 400px;
}

.btn_small {
  min-width: 15rem;
  margin: 2rem 2rem;
}

.btn_box {
  display: flex;
  justify-content: center;
}

.btn_wrapper_center {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper_new_room {
  max-width: 60rem;
}

.remove_margin_bottom {
  margin-bottom: 0px;
}

.option_holder {
  max-width: 300px;
}

@media screen and (min-width: 689px) {
  .option_holder {
    max-width: 600px;
  }
}
