.rooms {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 5rem 3rem;
}

.margin_room_text {
  margin: 2rem 0;
}

.btn_medium {
  width: 400px;
}

.btn_wrapper_center {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
