.wrapper_NavDesktop {
  color: white;
  background: #272727;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.linkBox_NavDesktop {
  display: flex;
  flex-wrap: wrap;
}

.linkBox_NavDesktop > * {
  padding: 0 1rem;
}

/*.logoBox_NavDesktop {*/
/*  float: left;*/
/*  display: flex;*/
/*}*/

/*.linkBox_NavDesktop {*/
/*  float: right;*/
/*  display: flex;*/
/*}*/

/*.link_navDesktop {*/
/*  padding-left: 2rem;*/
/*}*/
