.wrapper_NavDesktop {
  color: white;
  background: #272727;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.linkBox_NavDesktop {
  display: flex;
  flex-wrap: wrap;
}

.linkBox_NavDesktop > * {
  padding: 0 1rem;
}
.checkbox_input {
  display: none;
}

.logo_img {
  width: 4rem;
  margin: 1rem;
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 101;
}

.open {
  background-color: rgba(255, 135, 2, 0.9);
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.open:before {
  content: "";
  background-color: rgba(255, 135, 2, 0.9);
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: rgba(255, 135, 2, 0.9);
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: inline-block;
  padding: 30px;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 135, 2, 0.9);
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2.5rem;
}

.link_navDesktop:hover {
  color: #e9e8e8;
}

.link_navDesktop > *{
  margin: 1rem;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
  z-index: 100;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: #272727;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: #272727;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 101;
}
