.wrapper_footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* MEDIA */
@media screen and (min-width: 689px) {
  .wrapper_footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
