body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
  background-color: #F3F3F3;
}

* {
  box-sizing: border-box;
}

a {
 text-decoration: none;
 color: inherit;
}

.App {}

.main {
  width: 80%;
}

.primary_btn_black {
}
.primary_btn_white {
}

.input_field {
}

.option_box {
}

.option {
}

.paragraph {
}

.paragraph_small {
}

.heading_small {
}

.heading_medium {
}

.heading_large {
}
