.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./background2.jpg');
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  background-attachment: fixed;
}

.main {
  width: 80%;
}

.primary_btn_black {
}
.primary_btn_white {
}

.input_field {
}

.option_box {
}

.option {
}

.paragraph {
}
.paragraph_small {
}

.heading_small {
}

.heading_medium {
}

.heading_large {
}
