body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
  background-color: #F3F3F3;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

a {
 text-decoration: none;
 color: inherit;
}

.App {}

.primary_btn_black {
  text-align: center;
  border: 1px solid #737373;
  margin: 2rem 0;
  padding: 1.5rem;
  border-radius: 1rem;
  min-width: 20rem;
  /*border: 0;*/
  color: white;
  background-color: #272727;
}

.primary_btn_black:hover {
  background-color: #e9e8e8;
  color: black;
  transition: .4s ease-out;
}

.primary_btn_white {
}


.inputs_main {
  background-color: #e9e8e8;
  outline: none;
  border: 0;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: .5rem 0;
  width: 100%;
}

.input_field {
}

.option_box {
}

.option {
}

.paragraph {
  font-size: 1.6rem;
  text-align: center;
}

.paragraph_small {
}

.heading_small {
  font-size: 2rem;
  text-align: center;
}

.heading_medium {
  font-size: 3rem;
  text-align: center;
}

.heading_large {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 1rem;
}

/*media*/
/*medium: `min-width: 1092px`,*/
/*small: `min-width: 689px`,*/
