.content_business, .companies_business, .form_business {
  padding: 2rem 5rem;
}

.stats_business {
  display: flex;
  justify-content: space-around;
}

.stats_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats_box > h4 {
  margin-bottom: 0;
}

.separator {
  border: 2px #272727 solid;
  margin: 2rem 20% 3rem 20%;
}

/* welcome */
.welcome_business {
  background-image: url('../../Assets/background/businessBg.jpg');
  filter: grayscale(1) brightness(90%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_business_wrapper {
  color: white;
  position: absolute;
  text-align: center;
  z-index: 10;
  background-color: rgba(39,39,39, .6);
  padding: 3rem 5rem;
  border-radius: 2rem;
}

/* About */
.about_business {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.img_business {
  width: 45%;
  filter: grayscale(1);
  object-fit: cover;
}

.textBox_business_right {
  padding-left: 2rem;
}

.textBox_business_left {
  padding-right: 2rem;
}

/* companies */
.companies_business {
  display: flex;
  align-items: center;
}

.gallery_business_top {
  padding-bottom: 3rem;
  padding-left: 4rem;
}

.gallery_business_bottom {}

.img_gallery {
  max-width: 10rem;
  margin: 1rem;
  filter: grayscale(1);
}

/* form */
.form_business {
  min-height: 40rem;
  margin-bottom: 2rem;
}

.wrapper_map {
  filter: grayscale(1);
}

.wrapper_form {}

.form_text {}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  padding: 1rem 0;
}

.business_inputs {
  background-color: #e9e8e8;
  outline: none;
  border: 0;
  border-radius: 1rem;
  padding: 1.5rem;
}

.business_button {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0;
  color: white;
  background-color: #272727;
}

@media screen and (min-width: 689px) {
  .form_business {
    display: flex;
    justify-content: space-between;
  }

  .wrapper_map, .wrapper_form {
    width: 49%;
  }

  .welcome_business_wrapper {
    padding: 7rem;
  }

  .companies_business {
    flex-direction: column;
  }

  .gallery_business_top {
    padding-left: 0;
  }
  /*.welcome_business {*/
  /*  display: flex;*/
  /*}*/
}
